body {
    overflow: hidden;
}

.main-container {
    height: 100vh;
    background-color: white;
}

.row-title {
    height: 70px; /* weil fs-4 hat 40.9px */
}

.row-iframe {
    height: calc(100% - 70px);
}

.row-rand {
    height: 3%;
}

#row-obererteil {
    height: 62%;
}

#row-pdf-homepage {
    height: 41%;
}

#row-meisterschaft-wetter {
    height: 21%;
}

#row-platzreservierung {
    height: 32%;
}

#pdf-iframe {
    width: calc(100%/1);
    height: calc(100%/1);
    transform: scale(1);
    transform-origin: 0 0;
}

#homepage-iframe {
    width: calc(100%/2);
    height: calc(100%/2);
    transform: scale(2);
    transform-origin: 0 0;
}

#begegnungen-iframe {
    width: calc(100%/1.4);
    height: calc(100%/1.4);
    transform: scale(1.4);
    transform-origin: 0 0;
}

#tabelle-iframe {
    width: calc(100%/1.3);
    height: calc(100%/1.3);
    transform: scale(1.3);
    transform-origin: 0 0;
}

#spielplan-iframe {
    width: calc(100%/1.2);
    height: calc(100%/1.2);
    transform: scale(1.2);
    transform-origin: 0 0;
}

#wetterradar-iframe {
    width: calc(100%/1.2);
    height: calc(100%/1.2);
    transform: scale(1.2);
    transform-origin: 0 0;
}

#wetterbericht-iframe {
    width: calc(100%/2.3);
    height: calc(100%/2.3);
    transform: scale(2.3);
    transform-origin: 0 0;
}

#platzreservierung-iframe {
    width: calc(100%/1.46);
    height: calc(100%/1.46);
    transform: scale(1.46);
    transform-origin: 0 0;
}
