.main-container {
    height: 100vh;
}

.row-oneliner {
    height: 4%;
}

.row-content {
    height: calc(92%/3);
}


.row-title {
    height: 15%;
}

.row-iframe {
    height: 85%;
}

.div-content, .div-title, .div-iframe {
    height: 100%;
}

